.Nav-Setting {
  position: absolute;
  width:80px;
  height: 100%;
  background-color: #353d40;
  top:0;
  left:0;
}

.sideBar a{
  display: block;
  width:100%;
  padding: 15px 0px 15px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: '微软雅黑';
}